.blogContainer
{
    padding: 3rem;
    margin: 2rem 5rem;
}
.blogCard 
{
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: #042C54;
}
.blogImg 
{
    width: 100%;
    transition: all .5s ease-in-out;
    
}
.blogImg:hover{
    transform: scale(1.15);
}
.blogContainer>.mainHeading
{
    color: white;
    font-size: 3.5rem;
}

.blogCardContainer
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin: 4rem 0;
}

small 
{
    color: white;
}
small a 
{
    padding: 0;
}
.blogContent
{
    padding: 1rem 2rem 3rem;
}