.possibilityContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3rem 6.5rem;
}
.possImg
{
    width: 500px;
}
.possContent
{
    padding: 1rem 5rem;

}
.possContent>.mainHeading
{
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.25;
    margin: 1rem 0;
}
.possContent p 
{
    margin: 1rem 0;
}
.possContent a
{
    color: skyblue;
    padding: 0;
}


