@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@100;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

li 
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    padding: .85rem 1rem;
}
.glass 
{
    background: rgba(255, 255, 255, 0.34);
        /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
        backdrop-filter: blur(20.5px);
        -webkit-backdrop-filter: blur(108.5px);
}
.bgGradient
{
background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #03001ea3, #050f1e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
        #03001eec,
        #012459);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainHeading
{
    font-family: 'Josefin Sans', sans-serif;
}

.normalText 
{
    color: skyblue;
}
button {
    padding: .55rem 1.45rem;
    margin: 0 .05rem;
    outline: none;
    border: none;
    cursor: pointer;
    
}
.btnDesigned {
    background-color: #ff4820;
    color: white;
}


